.book
    height: 50rem
    background: linear-gradient(105deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 48%, rgba(186,133,84,0.2) 48%, rgba(161,79,3,0.2) 100%), url(../img/last_section_img_test.jpg) center/cover no-repeat
    background-position: center
    background-size: 120% /* увеличиваем размер рисунка для удобства позиционирования */
    background-position: 10% 51% /* сдвиг по оси Х и Y соответственно*/
    box-shadow: $box-shadow
    border-radius: .5rem
    @include respond(tab-land)
        height: 55rem
    @include respond(tab-port)
        height: 48rem
        background-size: 200%
        background: linear-gradient(105deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 48%, rgba(186,133,84,0.2) 100%, rgba(161,79,3,0.2) 100%), url(../img/last_section_img_test.jpg) center/cover no-repeat
    

.form
    position: relative
    width: 70%
    padding-top: 5rem
    padding-left: 3rem
    @include respond(tab-land)
        &__group:nth-child(4)
            margin-bottom: 5rem
        &__group:nth-child(5)
            margin-bottom: 5rem
    @include respond(tab-port)
        width: 100% !important
    @include respond(phone)
        &__group:nth-child(3)
            margin-bottom: 2rem
        &__group:nth-child(5)
            margin-bottom: 4rem
    &__input
        font-size: 1.6rem
        font-weight: 400
        letter-spacing: .2rem
        color: $color-gray
        padding: 1rem 0rem 1rem 2rem
        background: $white
        border: none
        border-radius: .5rem
        width: 70%
        @include respond(tab-port)
            width: 90%
            box-shadow: $box-shadow
        &:focus
            outline: none
            border-bottom: .3rem solid #66D763
            box-shadow: $box-shadow
        &:focus:invalid
            border-bottom: .3rem solid #D76363
    &__label
        font-size: $font-size-paragraph
        letter-spacing: .2rem
        font-weight: 400
        display: block
        margin-top: 1rem
        margin-left: 1.5rem
        transition: .2s all
 
    &__input:placeholder-shown + &__label /* Плюс это обращение к соседнему эл-ту */
        opacity: 0 /* делаем эл-т прозрачным до начала ввода текста */
        visibility: hidden
        transform: translateY(-3rem)

    &__group-radio        
        display: inline-block
        margin-bottom: 6rem
        margin-right: 3rem
        @include respond(tab-land)
            display: block


    &__input-radio
        display: none /* убираем стандартный кружок кнопки */
    &__label-radio
        cursor: pointer
        position: relative
        padding-left: 4rem
    &__button-radio
        height: 3rem
        width: 3rem
        border-radius: 50%
        border: .5rem solid $brown
        display: block
        position: absolute
        left: 0
        top: -0.4rem
        &::after
            content: ""
            display: block
            height: 1.5rem
            width: 1.5rem
            border-radius: 50%
            background: $brown
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            opacity: 0 /* делаем псевдоэлемент непрозрачным при выборе */
            transition: .2s all
    &__input-radio:checked ~ &__label-radio &__button-radio::after /* обращаемся к псевдоэлементу через псевдокласс */
        opacity: 1 /* псевдоэлемент полностью прозрачный, когда нажата другая кнопка */

