.card-tour
    height: 50rem    
    perspective: 150rem
    -moz-perspective: 150rem /* для работы в фаирфоксе */
    position: relative
    @include respond(tab-port)
        height: 55rem
    @include respond(phone)
        height: auto

    &__side
        height: 50rem
        width: 100%
        position: absolute
        top: 0
        left: 0
        transition: all .7s ease-out
        backface-visibility: hidden
        box-shadow: $box-shadow
        border-radius: .5rem
        overflow: hidden
        @include respond(tab-port)
            height: 55rem
        @include respond(phone)
            height: auto
            position: relative
        &_front
            @include respond(phone)
                padding-bottom: 14rem
        &_back
            background: linear-gradient(120deg, $brown-light, $brown)
            transform: rotateY(180deg)
            @include respond(phone)
                transform: rotateY(0deg)
                padding: 5rem 
                padding-top: 12rem
                clip-path: polygon(0 0, 100% 17%, 100% 100%, 0% 100%)
                margin-top: -12rem
    &:hover &__side_front
        transform: rotateY(-180deg)
        @include respond(phone)
            transform: rotateY(0deg)
    &:hover &__side_back
        transform: rotateY(0deg)

    &__img
        height: 22.5rem
        background-blend-mode: hard-light /* Эффект наложения на изображение */
        
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 83%)
        &_1
            background: $brown-light url(../img/card_1.jpg) center/cover no-repeat
        &_2
            background: $brown-light url(../img/second_card_img.jpg) center/cover no-repeat
        &_3
            background: $brown-light url(../img/third_card_img.jpg) center/cover no-repeat
        @include respond(tab-port)
            height: 30rem
    &__title
        font-size: 2.8rem
        letter-spacing: .2rem
        font-weight: 300
        text-transform: uppercase
        text-align: right
        position: absolute
        top: 17rem
        right: 0
        @include respond(tab-port)
            font-size: 3.6rem
            top: 24rem        
    &__span
        background: linear-gradient(90deg, $brown-light, $brown)
        padding: 1rem 2rem .3rem 2rem
        &_2
            padding-bottom: 1rem
            position: absolute
            right: 0
            top: 3.3rem
            @include respond(tab-port)
                top: 3.4rem
            
    &__description
        ul
            list-style: none /* удаляем оформление списка */
            margin: 0 auto
            width: 75%
            text-align: center
            li
                font-size: $font-size-paragraph
                letter-spacing: .2rem
                font-weight: 700
                color: $color-gray
                border-bottom: 1px solid $color-gray
                display: inline-block
                &:not(:last-child)
                    margin-bottom: 2rem
                @include respond(tab-port)
                    font-size: 2rem
    &__backside-box
        @include respond(phone)
            position: relative
            top: 0%
            right: 0%
            transform: translate(0%, 0%)
            
    &__text
        margin-bottom: 8.7rem
        color: $white
        letter-spacing: .2rem
        &_1
            padding-top: 10rem
            font-weight: 300
            font-size: 1.6rem
        &_2
            font-weight: 500
            font-size: 6rem
            font-family: "Lato-Bolt"
    &__btn
        @include respond(phone)
            display: none



